.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header{
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  font-size:large;
  color: black;
}

.App-link {
  color: #61dafb;
}
.movie-card{
  display:grid;
grid-template-columns: auto auto auto auto;
margin: 20 20px 20px 20px;
grid-gap: 1em;
}
.lab{
  display:"inline-block";
   width:100px
}
.inp-text{
  display:"inline-block";
}
.bar{
  width: 1000px;
}
.movie-title{
  text-align: center;
}
@media screen and (max-width: 600px)
{
  .movie-card{
    display: block;
  }  
  
}